<input id="name" type="text" placeholder="Nombre">
<input id="email" type="text" placeholder="Email">

<button onclick="getCookie()">GetCookie</button>
<button onclick="setCookie()">SendCookie</button>
<script src="../public/js/cookie.js"></script>