<div class="d-flex justify-content-center bg">
    <div class="d-flex align-items-center">

        <form onsubmit="login(event)" class="d-flex flex-column align-items-center  p-5 border border-form">


            <label class="mb-1 labelRegister" for="email">E-mail</label>
            <input id="login_email" class="input" type="email" name="email" placeholder="E-mail">

            <label class="mb-1 mt-5 labelRegister " for="contraseña">Contraseña</label>
            <input id="login_password" class="input" type="password" name="contraseña" placeholder="Contraseña">

            <input class="mb-1 mt-5 btn-register" type="submit" value="Iniciar Sesión"/>

            <a href="http://localhost:8080/api/auth/github" class="mb-1 mt-5 btn-register p-1" >Inciar sesión con Github<a/>
            
            <p class="mt-4 text-secondary-emphasis"><a href="http://localhost:8080/restorepassword" class="text-light a">Olvidé mi contraseña</a></p>

            <p class="mt-4 text-secondary-emphasis">¿No tenés una cuenta? <a href="http://localhost:8080/register" class="text-light a">Registrate</a></p>
        </form>

       
    </div>



</div>

<script src="../public/js/login.js"></script>