<div class="d-flex justify-content-center bg">
    <div class="d-flex align-items-center">

        <form onsubmit="restorePassword(event)" class="d-flex flex-column align-items-center  p-5 border border-form">


            <label class="mb-1 labelRegister" for="email">E-mail</label>
            <input id="reset_password_email" class="input" type="email" name="email" placeholder="E-mail">

            <label class="mb-1 mt-5 labelRegister " for="contraseña">Nueva Contraseña</label>
            <input id="new_password" class="input" type="password" name="contraseña" placeholder="Nueva Contraseña">

            <input class="mb-1 mt-5 btn-register" class="input" type="submit" value="Restaurar Contraseña"/>
            
        </form>

       
    </div>

</div>


<script src="../public/js/restorePassword.js"></script>